#!/usr/bin/make -f
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/arch-test/ PREFIX=/usr \
	    VERSION=v$(shell dpkg-parsechangelog -S Version|cut -d- -f1)
